<center>
<div class="login">
<div class="card">
<div class="card-block">
<h1>welcome to loginpage</h1>
<div class="container">
<%= form_with model: @create do|t|%>
    <div class="form-group">
    <%= t.label :username,"Username"%>
    <%= t.text_field :username, placeholder: "Enter username" %><br><br>
    </div>

    <div class="form-group">
    <%= t.label :password,"Password"%>
    <%= t.password_field :password, placeholder: "Enter password" %><br><br>
    </div>

    <div class="form-group">
    <%= t.label :email,"Email"%>
    <%= t.text_field :email, placeholder: "Enter email" %><br><br>
    </div>

    <div class="form-group">
    <%= t.submit  %>
    </div>
    <% end %>
</div>
<div class="container" style="background-color:#f1f1f1">
</div>
</div>
</div>
<p>If you new user click here <%= link_to "User", projects_signup_path %></p>
</center>
